* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
  }
  
  :root {
    font-size: 62.5%;
  }
  
  body {
    background: linear-gradient(287.56deg, #c2e9fb 0%, #a1c4fd 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
  }

  body, button, input, select {
    font-family: "DM Sans", "Helvetica Neue";
  }

  button {
    background-color: #7879f1;
    color: white;
    font-weight: bold;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;

    transition: background-color .5s;
  }

  button:hover {
    background-color: #6363ce;
  }
  
  .hide {
    display: none;
  }

  main {
    background: #ffffff;
    box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    padding: 4.8rem 6.4rem 6.4rem;
  
    width: min(42.8rem, 90%);
    margin-top: -12rem;
    text-align: center;
  }


  /*Screen1*/
  h1 {
    font-family:"Montserrat", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }

  h1, p {
    color: #34355b;
  }

  p {
    opacity: .8;
  }

  form {
    margin-top: 1.8rem;
    display:flex;
    justify-content: center;
  }

  input, button {
    border: none;
    padding: 1.6rem;
  }

  input {
    background-color: #DCE2E9;
    width: 6rem;
    border-radius: .4rem 0 0 .4rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
  }

  #numberTry {
    margin: 10px 0;
  }

  #numberTry div { 
    display: inline-block;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    background-image: linear-gradient(130deg, #7879f1, #5758de);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 3px 0;
  }

  /*screen2*/
  h2 {
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 3.3rem;
  }

  .screen2 button {
    border-radius: .4rem;
  }

  #numberWin {
    font-size: 60px;
    background-image: linear-gradient(130deg, #7879f1, #e57d7d);
    width: 100px;
    height: 100px;
    margin: 15px auto;
    padding: 12px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }